<table>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
    </tr>

    <tr>
      <td>
        <%= image_tag 'sample-author1.jpg', size: "60x60" %><br>
      </td>

      <td>
        <%= @book.title %>
      </td>

      <td>
        <%= @book.body %>
      </td>
    </tr>

</table>



<P><%= link_to "Update", edit_user_path(current_user.id) %></P>